<header>
  <nav class="navbar">
    <div class="container">
      <div class="logo-wrapper">
        <h1 class="logo">Game<span>Hub</span></h1>
      </div>
      <ul class="nav-links" [class.open]="menuOpen">
        <li><a routerLink="/" routerLinkActive="active" #homeLink (click)="closeMenu()">Početna</a></li>
        <li><a routerLink="/about" routerLinkActive="active" #aboutLink (click)="closeMenu()">O meni</a></li>
        <li><a routerLink="/games" routerLinkActive="active" #gamesLink (click)="closeMenu()">Igrice</a></li>
      </ul>
      <div class="hamburger" [class.open]="menuOpen" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
</header>